.is-facebook {
  background-color: #4267b2;
  color: white; 
}
.is-google{
  background-color: #DB4437;
  color: white;
}

.is-facebook:hover {
  background-color: #4267b2;
  color: white;
  border: none;
}
.is-google:hover {
  background-color: #DB4437;
  color: white;
  border: none;
}
